<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900713005085-rge3sf5hfrm7manqk43p39cg30mdi5v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900713005085-rge3sf5hfrm7manqk43p39cg30mdi5v0</string>
	<key>API_KEY</key>
	<string>AIzaSyBAakKaA2HSqz8G3D2Z4rx_B60pm2F59rw</string>
	<key>GCM_SENDER_ID</key>
	<string>900713005085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g4zeru.Seasoning-E-Commerce</string>
	<key>PROJECT_ID</key>
	<string>seasoning-e-commerce</string>
	<key>STORAGE_BUCKET</key>
	<string>seasoning-e-commerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900713005085:ios:eef8ffc5d856781c</string>
	<key>DATABASE_URL</key>
	<string>https://seasoning-e-commerce.firebaseio.com</string>
</dict>
</plist>