// Generated using xcconfig-extractor 0.5.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
CLANG_ENABLE_MODULES = YES
DYLIB_CURRENT_VERSION = 1
IPHONEOS_DEPLOYMENT_TARGET = 11.4
PRODUCT_BUNDLE_IDENTIFIER = com.g4zeru.FirebaseConnector
SKIP_INSTALL = YES
DYLIB_INSTALL_NAME_BASE = @rpath
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
CODE_SIGN_IDENTITY = 
INFOPLIST_FILE = FirebaseConnector/Info.plist
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)

